Package: net.limneos.pagenames
Name: PageNames
Depends: mobilesubstrate, firmware (>=4.0)
Version: 0.1
Architecture: iphoneos-arm
Description: Shows/edits names of SpringBoard pages
Maintainer: Elias Limneos
Author: Elias Limneos
Section: Tweaks
